/.vscode

/designStudies/pipeYokeGap/simulations

/designStudies/pipeYokeGap/template/*prb_grp*.txt
/designStudies/pipeYokeGap/template/*.unv

/designStudies/pipeYokeGap/template/withCollar/*prb_grp*.txt
/designStudies/pipeYokeGap/template/withCollar/*.unv
/designStudies/pipeYokeGap/template/withCollar/*.vtk

/designStudies/pipeYokeGap/template/withoutGaps/*prb_grp*.txt
/designStudies/pipeYokeGap/template/withoutGaps/*.unv
/designStudies/pipeYokeGap/template/withoutGaps/*.vtk

/magstromOutput

/venv

*.jou
*.zip
